@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 17 17 17;
    --pink: 232 114 192;
    --dark-green: 2 53 60;
    --dark-blue: 27 63 94;
    --dark-green-light: 21 119 116;
    --green: 68 147 66;
    --accent: 63 208 201;
    --yellow: 255 223 0;
    --dark-grey: 68 68 68;
    --white: 255 255 255;
    --red: 197 100 100;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: var(--font-outfit);
}

/* body::-webkit-scrollbar, */
.invisible-scroller::-webkit-scrollbar {
  display: none;
}
.transparent-scroller::-webkit-scrollbar {
  height: 10px;
  background: rgba(0,0,0,0.2);
  border-radius: 10px;
}
.transparent-scroller::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}
.smaller-scroller::-webkit-scrollbar {
  background: transparent;
}
.smaller-scroller::-webkit-scrollbar-track {
  border: 1px solid rgb(var(--black));
  border-radius: 10px;
  margin-left: 25vw;
  margin-right: 25vw;
}
.smaller-scroller::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 10px;
}
@-moz-document url-prefix() {
  .invisible-scroller {
    scrollbar-width: none;
  }
  .transparent-scroller {
    scrollbar-color: rgba(0,0,0,0.4) rgba(0,0,0,0.2);
    scrollbar-width: thin;
  }
}

@media(max-width: 1280px) {
  #viewer {
    height: unset !important;
  }
}

@media(max-width: 1280px) {
  article {
    opacity: 1 !important;
  }
}

h3 {
  font-family: var(--font-screebie);
}

.dark-gradient {
  background: linear-gradient(180deg, #000, #222 100%);
}
.pink-gradient {
  background: linear-gradient(180deg, rgb(var(--pink)), #000 80%);
}

.bg-land {
  background-image: url('../public/img/bg-game.png');
  background-position: center;
  background-size: cover;
}

.bg-cod {
  background-image: url('../public/img/cod.jpg');
  background-position: center;
  background-size: cover;
}

.bg-halftone {
  background-image: url('../public/img/halftone-2.jpg');
}

.bg-footer {
  background-image: url('../public/img/bg-footer.svg');
  background-size: cover;
  background-position: center;
}

.bg-print {
  background-image: url('../public/img/manchas.svg');
  background-size: 100%;
  background-position: center;
  transition: .2s;
}
.bg-halftone {
  background-image: url('../public/img/halftone-2.jpg');
}
.bg-roadmap {
  background-image: url('../public/img/roadmap-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-coin {
  background-image: url('../public/img/bg-coin.svg');
  background-size: 100%;
  background-position: center;
  transition: .2s;
}

.mix-dodge {
  mix-blend-mode: color-dodge;
}

.bg-notebook {
  background-image: url('../public/img/lined_paper.jpg');
}

.button-filter {
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.3));
}

.text-shadow-dark {
  text-shadow: 3px 3px 0 rgb(var(--dark-green));
}
.text-shadow-accent {
  text-shadow: 3px 3px 0 rgb(var(--accent));
}
.text-shadow-pink {
  text-shadow: 3px 3px 0 rgb(var(--pink));
}

.bshadow {
  box-shadow: 10px 10px 0 rgb(var(--pink));
}
.bdropshadow {
  filter: drop-shadow(12px 12px 0px rgb(var(--accent)));
}
.drop-shadow-nft {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}
.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.arrow-drop {
  filter: drop-shadow(-5px 10px 0px black);
}
.tab-drop {
  filter: drop-shadow(-10px 0px 0px rgb(var(--accent)));
}
.tab-drop-dark {
  filter: drop-shadow(-10px 0px 0px rgb(var(--dark-green)));
}
.title-drop-shadow {
  text-shadow: -5px 5px rgba(0,0,0,0.8);
}
.text-drop-shadow {
  filter: drop-shadow(3px 3px 0px #000);
}
.outline-drop {
  text-shadow: -3px 3px rgba(0,0,0,0.8);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(var(--black));
}
.t-outline {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(var(--black));
}
.t-outline-1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(var(--black));
}
.no-outline {
  -webkit-text-stroke-width: 0;
}

.active-label {
  box-shadow: 16px 0 0px rgba(var(--black));
}

.feature-shadow {
  box-shadow: 3px 3px 0 rgb(var(--pink));
}

#apex-pie-chart svg,
#apex-pie-chart svg foreignObject,
#apex-pie-chart .apexcharts-canvas {
  height: 240px !important;
}
.apexcharts-legend {
  text-align: left;
  transform: translate(-14px, -10px);
  background: rgb(var(--dark-blue));
  justify-content: center !important;
  border-radius: 10px;
}
.apexcharts-legend-text {
  font-family: var(--font-outfit) !important;
}

.link-list {
  list-style-type: disc;
}

.link-list li::marker {
  color: rgb(var(--dark-green-light));
}

.link-list a {
  font-weight: 100;
  display: inline-block;
  border-bottom: 1px dashed rgb(var(--dark-green-light));
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
